html
  head
    include header/default.pug
  body
    div(class="container-fluid")
      div(class="row")
        div(class="col-md-12")
          include navbar/default.pug
      div(class="row")
        div(class="col-md-12")
          block content
      div(class="row")
        div(class="col-md-12")
          include footer/default.pug