extends layouts/default.pug

block photos_nav
  li(class="nav-item active")
    a(class="nav-link" href="/photo") Photo

block content
  h1 Photo
  div(class="container-fluid")
    div(class="row")
      each val in photos
        div(class="col-xl-3 col-md-4 col-sm-6")
          img(class="image-cover" src=val alt="")