script(src="../components/jquery/dist/jquery.js")
script(src="../components/bootstrap/dist/js/bootstrap.js")
block scripts
footer(class="page-footer font-small blue")
    div(class="footer-copyright text-center py-3") © 2018 Copyright:
        a(href="https://vivumall.com") Phan Huu Thuan