extends layouts/default.pug

block albums_nav
  li(class="nav-item active")
    a(class="nav-link" href="/albums") Album

block content
  h1 #{album[0].name}
  div(class="container-fluid")
    div(class="row")
      each val in album
        div(class="col-xl-3 col-md-4 col-sm-6")
          img(class="image-cover" src='../'+val.url alt="")